.vscode/**
docs/**
scripts/**
src/**
test/**
.gitignore
eslint.config.js
tsconfig.json
**/*.map
*.vsix
assets/icon-source.png
node_modules/@img/sharp-linux-x64/**
node_modules/@img/sharp-libvips-linux-x64/**
node_modules/@img/sharp-linuxmusl-x64/**
node_modules/@img/sharp-libvips-linuxmusl-x64/**
